/***************
    MEDIA VARS
***************/
$xs: 375px;
$sm: 768px;
$md: 1280px;
$lg: 1680px;

/***************
    COLORS
***************/
$color-text-p: #333;
$color-fg: #333;
$color-bg: #fff;
